---
import Layout from "../layouts/PerformerLayout.astro";
import { Icon } from "astro-icon/components";
import data from "../assets/data/data.json";
import type { ImageMetadata } from "astro";

// Create static paths from the json data
export function getStaticPaths() {
  return data.map((performer, index) => ({
    params: {
      performer: performer.slug,
    },
    props: {
      performer,
      id: index,
    },
  }));
}

const { performer } = Astro.props;

// Code for the navigation
const performerIndex = data.findIndex((p) => p.slug === performer.slug);
const performerData = data[performerIndex];

const previousPerformerIndex = (performerIndex - 1 + data.length) % data.length;
const nextPerformerIndex = (performerIndex + 1) % data.length;

const previousPerformer = data[previousPerformerIndex];
const nextPerformer = data[nextPerformerIndex];

// Import images dynamically
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
---

<Layout
  title={performerData?.name && performerData.pronouns
    ? `${performerData.name} (${performerData.pronouns})`
    : "Undefined"}
>
  <!-- Name, role and pronouns -->
  <p class="capitalize mb-2 font-display">{performerData?.role}</p>

  <header class="mb-4 flex justify-between items-start font-display">
    <section>
      <h2 class="text-4xl mb-1 tracking-wide uppercase">
        {performerData?.name}
      </h2>
      <p>({performerData?.pronouns})</p>
    </section>

    <!-- Socials -->
    <section class="flex-row">
      {
        performerData?.instagram && (
          <a href={`https://instagram.com/${performerData.instagram}`}>
            <Icon name="mdi:instagram" class="text-3xl text-black" />
          </a>
        )
      }
    </section>
  </header>

  <!-- Grid -->
  <section
    class={performerData.image
      ? "grid md:grid-cols-2 gap-x-8 gap-y-4 mb-6"
      : "mb-6"}
  >
    <!-- Image -->
    {
      performerData?.image && (
        <img
          alt={`A headshot of ${performerData?.name}, looking directly at the camera`}
          src={`/${performerData.image}.webp`}
          class="rounded md:justify-self-end justify-self-center shadow"
        />
      )
    }

    <!-- Bio -->
    <section class="font-sans text-black text-lg leading-7 tracking-wider">
      {
        performerData?.bio && (
          <section
            class="prose max-w-[60ch] md:justify-self-start justify-self-center mb-4 text-pretty"
            set:html={performerData?.bio}
          />
        )
      }

      <!-- Website -->
      {
        performerData?.website && (
          <div class="flex flex-row items-start gap-2 leading-6 mb-2">
            <Icon name="mdi:link" class="text-2xl text-black" />
            <a
              class="hover:underline text-black font-semibold"
              href={`https://${performerData?.website}`}
            >
              {performerData.website}
            </a>
          </div>
        )
      }

      <!-- Shows -->
      {
        performerData?.shows &&
          performerData.shows.map((show) => (
            <div class="flex flex-row items-start gap-2 leading-6">
              <Icon name="mdi:ticket" class="text-2xl text-black" />
              <div class=""><a
                  class="hover:underline text-black font-semibold italic mr-0 pr-0"
                  href={show.showlink}
                >{show.showtitle}</a>{show.showvenue && `, ${show.showvenue}`}
              </div>
            </div>
          ))
      }
    </section>
  </section>

  <!-- Nav -->
  <nav class="flex justify-between items-center gap-8">
    <button
      class="shadow px-2 py-1 rounded bg-darkpink text-white transition-transform transform hover:scale-105 active:scale-95"
    >
      <a href={`/${previousPerformer.slug}`} class="flex items-center gap-2">
        <Icon name="mdi:arrow-left" class="text-2xl text-white" />
        <span class="font-display text-left">{previousPerformer.name}</span>
      </a>
    </button>
    <button
      class="shadow px-2 py-1 rounded bg-darkpink text-white transition-transform transform hover:scale-105 active:scale-95"
    >
      <a href={`/${nextPerformer.slug}`} class="flex items-center gap-2">
        <span class="font-display text-right">{nextPerformer.name}</span>
        <Icon name="mdi:arrow-right" class="text-2xl text-white" />
      </a>
    </button>
  </nav>
</Layout>
