---
interface Props {
  name: string;
  image: string | undefined;
  pronouns?: string;
  slug: string | undefined;
  key: number;
  loading: "eager" | "lazy";
}

const { name, image, pronouns, slug, key, loading } = Astro.props;
---

<article
  class="bg-lightpink grid grid-rows-[3fr_auto] h-fit shadow rounded-sm font-display"
>
  <!-- Image -->
  {
    image ? (
      <img
        src={`${image}.webp`}
        title={name}
        alt={`${name}`}
        loading={loading}
        class="w-full rounded-sm"
      />
    ) :
    ""
  }

  <!-- Prose -->
  <section class="p-2 text-black bg-opacity-20 flex items-center flex-col">
    <h2
      class="text-2xl px-2 h-fill font-display text-center uppercase tracking-wider leading-8 mb-1"
    >
      {name}
    </h2>

    <p class="font-display mb-2">{pronouns && `(${pronouns})`}</p>

    {
      slug && (
        <a href={`/${slug}`}>
          <button class="shadow px-6 py-2 rounded bg-darkpink text-white transition-transform transform hover:scale-105 active:scale-95">
            Bio
          </button>
        </a>
      )
    }
  </section>
</article>
