---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  image: string;
  pronouns?: string;
  slug?: string;
  key: number;
  loading: "eager" | "lazy";
}

const { name, image, pronouns, slug, key, loading } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<article
  class="flex-1 bg-lightpink border rounded-md font-display flex flex-col items-center md:px-8 px-12 py-4 shadow"
>
  <div class="flex flex-col items-center justify-center">
    <Image
      src={images[image]()}
      title={name}
      alt={`${name}`}
      loading={loading}
      class="md:w-60 w-96 object-cover mb-2 flex rounded-sm shadow rotate"
    />
  </div>
  <section class="h-full mb-2">
    <h2
      class="text-2xl text-center h-fill font-display self-center uppercase tracking-wider leading-7"
    >
      {name}
    </h2>
    <p class="text-center text-gray-600">{pronouns && `(${pronouns})`}</p>
  </section>
  {
    slug && (
      <a href={`/performers/${slug}`} class="flex w-fit">
        <button class="bg-darkpink text-white rounded shadow md:w-60 w-96 text-lg">
          Bio
        </button>
      </a>
    )
  }
</article>
