---
interface Props {
  name: string;
  image: string | undefined;
  pronouns?: string;
  slug: string | undefined;
  key: number;
  loading: "eager" | "lazy";
  bio: string | undefined;
}

const { name, image, pronouns, slug, bio, key, loading } = Astro.props;
---

<article
  class=`bg-lightpink shadow rounded-sm font-display grid ${bio ?'grid-rows-[auto_1fr_auto]' : 'grid-rows-[auto_1fr]'} min-h-[50vh] h-full`
>
  <!-- Image -->
  {
    image && (
      <img
        src={`${image}.webp`}
        title={name}
        alt={`${name}`}
        loading={loading}
        class="rounded-sm w-full h-auto object-cover"
        style="grid-row: 1 / 2"
      />
    )
  }

  <!-- Prose -->
  <section class="p-2 text-black text-center flex items-center justify-center" style="grid-row: 2 / 3">
    <div>
      <!-- Name & pronouns -->
      <h2 class="text-2xl font-display uppercase tracking-wider leading-8 mb-1">
        {name}
      </h2>
      <p class="font-display mb-2">{pronouns && `(${pronouns})`}</p>
    </div>
  </section>

  <!-- CTA -->
  {
    bio && (
      <div class="flex justify-center mb-2" style="grid-row: 3 / 4">
        <a href={`/${slug}`}>
          <button class="shadow px-6 py-2 rounded bg-darkpink text-white transition-transform transform hover:scale-105 active:scale-95">
            Bio
          </button>
        </a>
      </div>
    )
  }
</article>
